<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <img src="/cbg.jpg">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="table table-condensed">
        <% for(var i=0; i < articles.length; i++) { %>
          <tr>
            <td><a href="<%=articles[i].url%>" target="_blank"><%= articles[i].title %></a></td>
            <td><%= articles[i].created_at %></td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>

</body>
</html>
